body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}

.weather-app {
  background: #ffff;
  margin: 45px auto;
  max-width: 600px;
  border-radius: 16px;
  padding: 30px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px;
}

header {
  border-bottom: 1px solid rgb(249, 247, 254);
  padding: 0 0 30px;
}

.search-form-text {
  background: #f9f7fe;
  border: none;
  font-size: 16px;
  padding: 15px 10px;
  width: 80%;
  border-radius: 6px;
}

.search-form-button {
  background: #885df1;
  color: #ffff;
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  margin-left: 5px;
  border-radius: 6px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: -25px;
}

.weather-app-details {
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f652a2;
}

.weather-temperature {
  display: flex;
  margin-bottom: 50px;
}

.weather-temperature-icon {
  width: 88px;
  height: 88px;
}

.weather-temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 1;
}

.weather-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.weather-forecast {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
  color: rgba(39, 33, 66, 0.4);
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #f652a2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

@media (max-width: 900px) {
  .weather-app {
    margin: 100px auto;
  }

  .search-form-text {
    font-size: 12px;
    padding: 10px 15px;
    width: 70%;
    border-radius: 6px;
  }
  .search-form-button {
    font-size: 12px;
    padding: 10px 20px;
  }

  .weather-app-city {
    font-size: 32px;
  }
  main {
    padding: 20px 0;
  }
  .weather-app-details {
    font-size: 12px;
  }

  .weather-temperature-icon {
    width: 44px;
    height: 44px;
  }

  .weather-temperature-value {
    font-size: 44px;
    margin-top: 6px;
  }

  .weather-temperature-unit {
    font-size: 20px;
    margin-top: 6px;
  }

  .weather-forecast-date {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .weather-forecast-temperatures {
    font-size: 10px;
    margin-top: 6px;
  }

  .weather-forecast-icon {
    width: 44px;
    height: 44px;
  }

  .weather-forecast-temperature {
    padding: 0 6px;
  }

  footer {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .search-form-text {
    font-size: 10px;
    padding: 8px 12px;
    width: 70%;
    border-radius: 4px;
  }
  .search-form-button {
    font-size: 10px;
    padding: 8px 10px;
  }

  .weather-app-city {
    font-size: 24px;
  }
  main {
    padding: 10px 0;
  }
  .weather-app-details {
    display: none;
  }

  .weather-temperature-icon {
    width: 36px;
    height: 36px;
  }

  .weather-temperature-value {
    font-size: 36px;
    margin-top: 6px;
  }

  .weather-temperature-unit {
    font-size: 15px;
    margin-top: 7px;
  }

  .weather-forecast {
    margin-top: 0;
  }

  .weather-forecast-date {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .weather-forecast-temperatures {
    font-size: 8px;
    margin-top: 5px;
  }

  .weather-forecast-icon {
    width: 33px;
    height: 33px;
  }

  .weather-forecast-temperature {
    padding: 0 5px;
  }
}
